{% extends 'base-front.html.twig' %}

{% block title %}Produits pour chats{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <h1>Produits pour chats</h1>
            {% for product in catProducts %}
                <div class="col-lg-3">
                    {% include ('common/_cardProduct.html.twig') %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
