.bgCard {
  background-color: #c4bbb0;
}

.container-image {
  height: 300px;
  position: relative;
}

.container-image > img {
  height: 100%;
  width: 100%;
}

.ps-2 {
  padding-left: 0 !important;
}

.bgCard > h4 {
  padding-left: 0.5rem;
}

.bgCard > p {
  padding-left: 0.5rem;
}

.bgCard > strong {
  padding-left: 0.5rem;
}