<div class="container mt-5 py-5">
    <div class="row">
        <div class="d-flex justify-content-evenly">
            <div>
                <ul>
                    <li>
                        <p>Nos services :</p>
                    </li>
                    <li>
                        <p>Aide & FAQ</p>
                    </li>
                    <li>
                        <p>Mon compte</p>
                    </li>
                    <li>
                        <p>Mes commandes</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <p>Le magasin :</p>
                    </li>
                    <li>
                        <p>Trouver le magasin</p>
                    </li>
                    <li>
                        <p>Horaire d'ouverture</p>
                    </li>
                    <li>
                        <p>Contact</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <p>A propos :</p>
                    </li>
                    <li>
                        <p>Qui sommes-nous ?</p>
                    </li>
                    <li>
                        <p>Mentions légales</p>
                    </li>
                    <li>
                        <p>CGU / CGV</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>